/* Styles I have provided: */

* {
    box-sizing: border-box;
}

html {
    font-size: 18pt;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

main {
    height: 100%;
    width: 60%;
    overflow: hidden;
    position: absolute;
}

.content {
	padding: 0 50pt;
}

body { 
	color: #333;
	font-size: 15pt;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
	text-align: center;
}

section.chapter {
	border-top: 1px solid #999;
    position: absolute;
	padding: 20pt 0;
    background: #FFF;
}

a { 
	color: #44609D;
}

 nav ul {
 	padding: 0;
 	list-style: none;
 }

 /* Solution */

 .chapter p:first-of-type::first-line {
 	font-size: 28pt;
 }

.chapter p:first-of-type::first-letter {
    font-size: 36pt;
 	font-family: cursive;
 }

::selection {
 	background: #999;
 	color: #FFF;
} 

::-moz-selection {
 	background: #44609D;
 	color: #FFF;
 }
 
.chapter {
  transition: opacity 1.5s;
  top: 0;
  opacity: 0;
}

.chapter.active {
    opacity: 1.0;
}